1.сайт
	1.разделы
		1.html-формы для них
		2.обработчики для форм и вычислений
		3.стили для сайтов
2.тг-бот
	1.клавиатура №1
		1.узнать актуальный курс юаня
		2.информацию о коанде проета
		3.узнать сроки и типы грузоперевозок
		4.расчёт стоимости заказа
	2.клавиатура №2
		1.типы одежды
	3.клавиатура №3
		типы грузоперевозок
	4.цена товара в банях + вес товара
	5.итоговая цена в рублях
	